p {
	color: red;
	width: 500px;
}

p, li, h1 {
	color: teal;
}

html {
	background-color: #00539F;
}

body{
	width: 600px;
	margin: 0 auto;
	background-color: #FF9500;
}

.quote{
	border: 1px dashed black;
}

#mainquote {
	color:green;
	font-size: 30px;
}

.importanttext{
	display: inline-block;
}